{% extends 'base.html' %}
{% import 'macros.html' as macro %}
<!-- Styles block -->

{%block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{%endblock%}
<!-- Content block -->
{%block content%}
<div class="container">
    <a href="{{url_for('main.new_pitch')}}" class="btn btn-success">Create pitch</a>
</div>

<div class="container">
    <div class="col-md-12">
        <h3>Interview Pitches</h3>
            {{macro.displayPitches(interview)}}
    </div>
    <div class="col-md-12">
        <h3>Product Pitches</h3>
            {{macro.displayPitches(product)}}
    </div>
    <div class="col-md-12">
        <h3>Promotion Pitches</h3>
            {{macro.displayPitches(promotion)}}
    </div>
</div>
{%endblock%}
